<div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
</div>
<div>
<tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.comment %></td>
      <td><%= link_to 'Remove this comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= form_for @comment do |f| %>
    <%= f.text_area :comment %>
    <%= f.hidden_field :blog_id, value: @blog.id %>
    <%= f.submit %>
  <% end %>
</tbody>
</div>
